.container {
    margin: 0 auto;
    padding: 0 200px;
}

.mail-form {
    width: 340px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.select-form {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

    font-size: 16px;
    padding: 10px;
}
.select-form:nth-of-type(2) {
    width: 200px;
}

.date-form {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
}

.btn-serch {
    width: 80px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-reset {
    width: 80px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-export {
    width: 120px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-show {
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.pagination .page-link,
.pagination .page-item.active .page-link {
    color: #ffffff;
    border-color: #ccc;
}

.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #89725d;
    border-color: #ccc;
}
.pagination .page-link {
    color: #89725d;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}

.pagination .page-link:hover {
    color: #89725d;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

table {
    width: 100%;
    border-spacing: 0;
}

th {
    padding: 15px 40px;
}

td {
    border-bottom: 1px solid #dee2e6;
    padding: 15px 40px;
}

td:nth-of-type(5) {
    padding: 15px 15px 15px 40px;
}

.border-right {
    border-right: 1px solid #dee2e6;
}
.border-left {
    border-left: 1px solid #dee2e6;
}
