.container {
    margin: 0 auto;
    padding: 0 200px;
}

.mail-form {
    width: 340px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.select-form {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

    font-size: 16px;
    padding: 10px;
}
.select-form:nth-of-type(2) {
    width: 200px;
}

.date-form {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
}

.btn-serch {
    width: 80px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-reset {
    width: 80px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-export {
    width: 120px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-show {
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.pagination .page-link,
.pagination .page-item.active .page-link {
    color: #ffffff;
    border-color: #ccc;
}

.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #89725d;
    border-color: #ccc;
}
.pagination .page-link {
    color: #89725d;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}

.pagination .page-link:hover {
    color: #89725d;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

table {
    width: 100%;
    border-spacing: 0;
}

th {
    padding: 15px 40px;
}

td {
    border-bottom: 1px solid #dee2e6;
    padding: 15px 40px;
}

td:nth-of-type(5) {
    padding: 15px 15px 15px 40px;
}

.border-right {
    border-right: 1px solid #dee2e6;
}
.border-left {
    border-left: 1px solid #dee2e6;
}


/* モーダルのスタイル */
.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 0;
  width: 100%; /* フル幅 */
  height: 100%; /* フル高さ */
  overflow: auto; /* 外側のコンテンツがスクロール可能 */
}

/* モーダルのコンテンツ */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 画面の中央に表示 */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 幅 */
}

.modal-container {
    margin: 60px 20px 50px 60px;
}

/* 閉じるボタン */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-label {
    width: 250px;
    font-size: larger;
    font-weight: bold;
}

.modal-value {
    width: 700px;
}

.delete{
    background-color: red;
    padding: 10px 30px;
}