.container {
    margin: 0 auto;
    padding: 0 200px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    border-color: #DCDCDC;
}

th {
    width: 250px;
    padding: 15px 40px;
    text-align: left;
    background-color: #89725d;
    color: white;
    font-weight: normal;
}

td {
    width: 75%;
    padding: 15px 40px;

}

.btn-submit{
    width: 100px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #89725d;
    color: white;
    border: none;
}

.decoration-line{
    text-decoration-line: underline;
}
