.content {
    background-color: #f1ece7;
}

.container {
    margin: 0 auto;
    padding: 0 200px;
}

.login-box {
    border: 1px solid #89725d;
    width: 700px;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 160px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label,
.form-group input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form-group label {
    font-size: 1.2rem;
}

.form-group input {
    padding: 10px 40px;
    background-color: #e8e8e8;
    border-radius: 5px;
}

.btn-login {
    width: 100px;
    padding: 10px 20px;
    background-color: #89725d;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
